{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>Liste des manuscrits de la bibliothèque du Patrimoine de Clermont Auvergne Métropole</h1>

    <div class="mb-3">
        <a href="create.php" class="btn btn-success">Ajouter un manuscrit</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Référence</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for document in list %}
            <tr>
                <td>{{ document.cote|default('N/A') }}</td>
                <td>{{ document.titre|default('Sans titre') }}</td>
                <td>{{ document.auteur|default('Anonyme') }}</td>

                <td>
                    <a href="get.php?id={{ document._id }}">voir</a>&nbsp;/&nbsp;
                    <a href="edit.php?id={{ document._id }}">éditer</a>&nbsp;/&nbsp;
                    <a href="delete.php?id={{ document._id }}">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun document trouvé dans la base.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}